################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Starplex/.vs/Starplex/FileContentIndex/6c892f6e-87cc-484f-8750-1775fd0231d4.vsidx
/.vs/OICAR/FileContentIndex/9175a8da-1860-41be-8942-40414cca502a.vsidx
/Starplex/.vs/Starplex/FileContentIndex/d8edafd6-3b9e-4a7c-bce4-039302d2a68e.vsidx
/Starplex/.vs/Starplex/FileContentIndex/c3e5cc1b-594b-4f34-8399-8b93889c8b8a.vsidx
