################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Starplex/.vs/Starplex/FileContentIndex/6c892f6e-87cc-484f-8750-1775fd0231d4.vsidx
/.vs/OICAR/FileContentIndex/9175a8da-1860-41be-8942-40414cca502a.vsidx
/Starplex/.vs/Starplex/FileContentIndex/d8edafd6-3b9e-4a7c-bce4-039302d2a68e.vsidx
/Starplex/.vs/Starplex/FileContentIndex/c3e5cc1b-594b-4f34-8399-8b93889c8b8a.vsidx
/.vs/OICAR/FileContentIndex/16901bbc-1dad-4ef7-8f26-f2da88057322.vsidx
/.vs/OICAR/FileContentIndex/39e0f0dd-6712-4e1c-938d-b0043df079b6.vsidx
/.vs/OICAR/FileContentIndex/8728307c-0093-436d-b609-e392fa3ba76d.vsidx
/Starplex/.vs/Starplex/FileContentIndex/1e81c54b-0f25-4f94-8f82-faa54615e004.vsidx
